ul.entity-moderation-form {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-align-items: flex-end; /* Safari */
  align-items: flex-end;
  -webkit-justify-content: space-around; /* Safari */
  justify-content: space-around;
  list-style: none;
  border-bottom: 1px solid gray;
}

ul.entity-moderation-form input[type="submit"] {
  margin-bottom: 1.2em;
}
